{% extends "_layout" %}

{% block content %}

	<div class="row">
		<div class="twelve columns page-slide">
			<ul class="royalSlider rsDefault">
			{% for block in entry.imageSlider.all() %}
				{# this has two assets attached #}
				{% set images = block.slideImage %}
				{% if images and images|length %}
					<li>
					{# Loop through the images #}
					{% for image in images.all() %}
						<img src="{{ image.getUrl('heroSlider') }}" width="100%" alt="{{ image.title }}">
						<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
					{% endfor %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="center-content">

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns">
				<h3 class="introduction">{{ entry.mainBodyCopy }}</h3>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<h4 class="introduction">{{ entry.secondaryBodyCopy }}</h4>
				<p class="buttonWrap"><a class="buttonLink" href="{{ entry.donateLink }}" target="_blank" rel="noopener noreferrer">Donate</a></p>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			{% for block in entry.program.all() %}
			<article class="reveal">
				{% if block.programImage|length %}
				    {% for asset in block.programImage.all() %}
				        <img src="{{ asset.getUrl('slider') }}" width="100%">
				    {% endfor %}
				{% endif %}
				<div class="projectSnip">
					<h3><a href="{{ block.programLink }}" target="_blank" rel="noopener noreferrer">{{ block.programTitle }} &rarr;</a></h3>
					{{ block.programCopy }}
				</div>
			</article>
			{% endfor %}
		</div>

	</div>
{% endblock %}
