{% extends "_layout" %}

{% block content %}

	<div class="center-content">

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns">
				<h4 class="accTitle">{{ information.informationTitle }}</h4>
				{% for block in information.information.all() %}
					<div class="accordion">
						<h5>{{ block.infoHeading }}</h5>
					</div>
					<div class="accordCopy">
						<p>{{ block.infoCopy }}</p>
					</div>
				{% endfor %}
			</div>
			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;

				for (i = 0; i < acc.length; i++) {
				    acc[i].onclick = function(){
				        this.classList.toggle("active");
				        this.nextElementSibling.classList.toggle("show");
				    }
				}
			</script>
			<div class="one columns">&nbsp;</div>
		</div>

	</div>
{% endblock %}
