{% extends "_layout" %}

{% block content %}

	<div class="center-content">

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns">
				<h3 class="introduction">{{ entry.introduction }}</h3>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="four columns">&nbsp;</div>
			<div class="four columns line">
			</div>
			<div class="four columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns bookings-text">
				<h4>{{ entry.bookingTitle }}</h4>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns bookings-text">
				{% for block in entry.bookableItems.all() %}
					<h5>{{ block.itemTitle }}</h5>
					<p>{{ block.itemInformation }}</p>
				{% endfor %}
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="four columns">&nbsp;</div>
			<div class="four columns line"></div>
			<div class="four columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns bookings-text">
				<h5><a href="mailto:{{ entry.email }}"><img src="/uploads/email-black.svg" width="26"> &nbsp; {{ entry.email }}</a></h5>
				<a href="/terms-conditions">Terms &amp; Conditions</a>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		{#<div class="row">
			<div class="one columns">&nbsp;
			</div>
			<div class="ten columns">
				<script type="text/javascript" src="//mahimahisurfresort.checkfront.com/lib/interface--30.js"></script>
				<div id="CHECKFRONT_WIDGET_01"><p id="CHECKFRONT_LOADER">Searching Availability</p></div>
				<script>
				new CHECKFRONT.Widget ({
				host: 'mahimahisurfresort.checkfront.com',
				target: 'CHECKFRONT_WIDGET_01',
				provider: 'droplet'
				}).render();
				</script>
				<noscript><a href="https://mahimahisurfresort.checkfront.com/reserve/" style="font-size: 16px">Continue to Secure Booking System &raquo;</a></noscript>
			</div>
			<div class="one columns">&nbsp;
			</div>
		</div>#}

		<div class="row top-space">
			<div class="one columns">&nbsp;
			</div>
			<div class="ten columns">
				<h4 class="accTitle">{{ information.informationTitle }}</h4>
				{% for block in information.information.all() %}
					<div class="accordion">
						<h5>{{ block.infoHeading }}</h5>
					</div>
					<div class="accordCopy">
						<p>{{ block.infoCopy }}</p>
					</div>
				{% endfor %}
			</div>
			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;

				for (i = 0; i < acc.length; i++) {
				    acc[i].onclick = function(){
				        this.classList.toggle("active");
				        this.nextElementSibling.classList.toggle("show");
				    }
				}
			</script>
			<div class="one columns">&nbsp;
			</div>
		</div>

	</div>
{% endblock %}
