{% extends "_layout" %}

{% block content %}

	<div class="row">
		<div class="twelve columns page-slide">
			<ul class="royalSlider rsDefault">
			{% for block in entry.imageSlider.all() %}
				{# this has two assets attached #}
				{% set images = block.slideImage %}
				{% if images and images|length %}
					<li>
					{# Loop through the images #}
					{% for image in images.all() %}
						<img src="{{ image.getUrl('heroSlider') }}" width="100%" alt="{{ image.title }}">
						<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
					{% endfor %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="center-content">

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns reveal">
				<h4 class="introduction">{{ entry.mainBodyCopy }}</h4>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<ul class="row imgPanel reveal">
			{% for block in entry.quadPanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('tiles') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p reveal">
				<p>{{ entry.secondaryBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<ul class="row imgPanel reveal">
			{% for block in entry.secondaryQuadPanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('tiles') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p bottom-space reveal">
				<p>{{ entry.thirdBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns">
				<h4 class="accTitle">{{ entry.informationTitle }}</h4>
				{% for block in entry.information.all() %}
					<div class="accordion">
						<h5>{{ block.infoHeading }}</h5>
					</div>
					<div class="accordCopy">
						<p>{{ block.infoCopy }}</p>
					</div>
				{% endfor %}
			</div>
			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;

				for (i = 0; i < acc.length; i++) {
				    acc[i].onclick = function(){
				        this.classList.toggle("active");
				        this.nextElementSibling.classList.toggle("show");
				    }
				}
			</script>
			<div class="one columns">&nbsp;</div>
		</div>

	</div>
{% endblock %}
