
/* Table of contents
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Spalsh Page */

html, body.soon{
  width: 100%;
  height: 100%;
}

body.soon .m-m{
  fill: #ffffff;
}

body.soon #header{
  text-align: center;
  position: relative;
  height: 100%;
}

body.soon #header #mahi-mahi{
  position: absolute;
  width: 166px;
  height: 166px;
  top: 50%;
  left: 50%;
  margin: -83px 0 0 -83px;
}

body.soon #container:before{
  position: absolute;
  content: '';
  background: url('/uploads/mahi-mahi-waves-3.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}

body.soon #container{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Header */

body #header{
  position: relative;
  z-index: 999;
  padding: 0;
  color: #222;
}

.Home #header{
  position: absolute;
  z-index: 999;
  color: #222;
  width: 100%;
}

body .m-m{
  fill: #222222;
}

body #header ul.site-branding li:last-child{
  opacity: 0;
}

.Home #header ul.site-branding li:last-child{
  opacity: 1;
}

.Home .m-m, #header nav .m-m, #footer .m-m{
  fill: #ffffff;
}

#header #mahi-mahi{
  width: 66px;
  height: 66px;
}

#header h1.site-title{
  font-size: 2.6em;
}

#header h2.site-description{
  font-size: 1em;
}

ul.site-branding{
  list-style: none;
  margin: 0;
  padding: 3em 3em 0 3em;
}

ul.site-branding li{
  display: inline-block;
}

ul.site-branding li:first-child{
  padding: 0 0.8em 0 0;
  vertical-align: top;
}

h1.site-title{
  font-size: 1.8em;
  font-weight: 400;
  opacity: 1;
  letter-spacing: 0.14em;
  line-height: 1em;
  margin: 0.1em 0 0;
}

h2.site-description{
  font-size: 0.7em;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.16em;
  margin: 0;
  text-transform: none;
}

.page-title{
  text-align: center;
  font-size: 3em;
  margin: 4% 0;
  font-weight: 600;
}

/* Menu */

.menui {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}

.menui.top-animate, .menui.bottom-animate{
  margin-top: 13px;
}

body.Home #header a.icon{
  background-color: rgba(34,34,34,0.2);
  border-color: rgba(255,255,255, 1)
}

body.Home #header a.icon:hover{
  background-color: rgba(34,34,34,0.8);
}

body #header a.icon {
  z-index: 999;
  border: 3px solid;
  border-color: rgba(17, 17, 17, 1);
  position: absolute;
  display: block;
  padding: 0 14px 21px;
  height: 32px;
  width: 32px;
  margin: 0;
  top: 3em;
  right: 3em;
  background-color: rgba(255,255,255,0.6);
  transition: background-color 0.2s ease-in-out;
}

body #header a.icon:hover{
  background-color: rgba(255,255,255,1);
}

.navOverlay {
  top: 0;
  left: 0;
  padding: 4em 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(34,34,34,0.98);
}

.navOverlay ul{
  margin: 2em 0 0;
  padding: 0;
}

.navOverlay li {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.navOverlay li a {
  font-size: 150%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}

.Home .top-annimate{
  background-color: #fff;
}

.top-animate {
  background-color: #111;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mid-animate {
  opacity: 0;
}

.Home .bottom-animate{
  background-color: #fff;
}

.bottom-animate {
  background: #111;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.Home .top-menu, .Home .mid-menu, .Home .bottom-menu{
  background-color: #fff;
}

.top-menu {
  top: 8px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #111;
}

.mid-menu {
  top: 16px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #111;
}

.bottom-menu {
  top: 24px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #111;
}

/* Book Button */

#book-now {
  position: fixed;
  right: 4em;
  bottom: 3em;
}
#book-now.hide{
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#book-now.hide.show{
  opacity: 1;
}

.Bookings #book-now{
  display: none;
}

.Bookings #CHECKFRONT_WIDGET_01{
  min-height: 600px;
}

.Bookings #CHECKFRONT_WIDGET_01, .Bookings #CHECKFRONT_LOADER{
  text-align: center !important;
}

.bookings-text{
  text-align: center;
}

.bookings-text h4{
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

.line{
  height: 2px;
  background: #222;
}

/* Home */

body.Home .royalSlider{
  width: 100% !important;
  /*height: 100vh !important;*/
  line-height: 0;
}

body .royalSlider, body .imageSlider{
  width: 100% !important;
  line-height: 0;
  position: relative;
}

body .royalSlider li{
  margin: 0;
}

body.Home .royalSlider .rsOverflow, body.Home .royalSlider .rsSlide, body.Home .imageSlider .rsOverflow, body.Home .imageSlider .rsSlide{
  background: #222222 !important;
}

body .royalSlider .rsOverflow, body .royalSlider .rsSlide, body .imageSlider .rsOverflow, body .imageSlider .rsSlide{
  background: #ffffff !important;
}

body.Home .royalSlider .rsSlide:before{
  background: radial-gradient(transparent, rgba(25,25,25,0.6));
  background: -webkit-radial-gradient(transparent, rgba(25,25,25,0.6));
  background: -moz-radial-gradient(transparent, rgba(25,25,25,0.6));
  background: -o-radial-gradient(transparent, rgba(25,25,25,0.6));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 777;
}

body .royalSlider .rsGCaption, body .imageSlider .rsGCaption{
  background: none;
  padding: 0;
  margin: 0;
  left: 4rem;
  bottom: 6.6em;
  width: 60%;
  z-index: 888;
}

body .imageSlider .rsGCaption{
  bottom: 6em;
  font-family: 'Ubuntu', sans-serif;
}

body .royalSlider figure, body .imageSlider figure{
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.3em;
  background: none;
  display: inline;
  text-transform: inherit;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition-property: -webkit-transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

body .imageSlider figure{
  text-shadow: 1px 1px 6px #444;
}

body .royalSlider .rsContent, body .imageSlider .rsContent{
  background: rgba(57,90,96,0.8)
}

body .royalSlider .rsBullets, body .imageSlider .rsBullets {
  position: absolute;
  bottom: 3.8rem;
  padding: 0;
  background: none;
  left: 4rem;
  margin: auto;
  width: auto;
}

body .imageSlider .rsBullets{
  left: 3rem;
}

body .royalSlider .rsBullet.rsNavSelected span, body .imageSlider .rsBullet.rsNavSelected span{
  background-color: #fff;
}

body .royalSlider .rsBullet span, body .imageSlider .rsBullet span {
  background: none;
  border: 1px solid;
  cursor: pointer;
}

.Home .center-content{
  margin: 4rem 0 0;
}

.center-content{
  margin: 4rem 0 12rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.first-video{
  margin-top: 96px;
}

.video{
  text-align: center;
}

.introduction{
  font-size: 2.48em;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  margin: 64px 0 48px;
  text-align: center;
}

.Home ul.imgPanel{
  margin: 0;
  padding: 0;
}

ul.imgPanel{
  margin: 3em 0;
  overflow: auto;
  padding: 0;
  line-height: 0;
  font-family: 'Ubuntu', sans-serif;
}

ul.imgPanel.dine{
  margin: 3em 0 0 0;
}

ul.imgPanel ul{
  margin: 0;
  padding: 0;
}

ul.imgPanel li {
  list-style: none;
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
}

ul.imgPanel h2{
  font-weight: 600;
  padding: 26px 26px 0 26px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 4rem;
  font-size: 2.6em;
}

ul.imgPanel.single li {
    width: 100%;
}

ul.imgPanel.tri li{
  width: 33.333%;
}

ul.imgPanel.tri li img{
  transform: scale(1.02);
}

ul.imgPanel.tri li img:hover{
  opacity: 1;
}

ul.imgPanel.single li{
  overflow: hidden;
}

ul.imgPanel.single li img{
  margin-top: -25%;
}

.Home ul.imgPanel li img{
  opacity: 1;
}

ul.imgPanel li img{
  transition: all .3s linear;
  opacity: 0.7;
}

ul.imgPanel li img:hover{
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  opacity: 1;
}

h4.introduction{
  font-size: 1.68em;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  margin: 64px 0 48px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h3.introduction.resort-intro{
  font-size: 1.68em;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  margin: 64px 0 48px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

ul.imgPanel ul.overlay li{
  width: 100%;
  color: #fff;
  margin-bottom: -1px;
}

ul.imgPanel ul.overlay li:last-child{
  line-height: 1.4em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: rgba(25,25,25,0.2);
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

ul.imgPanel ul.overlay li:last-child span p{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.14s;
  background-color: none;
  padding: 0 26px;
  font-size: 16px;
  line-height: 1.4em;
}

ul.imgPanel.single ul.overlay li:last-child span p{
  max-width: 50%;
}

ul.imgPanel ul.overlay li:last-child:hover, ul.imgPanel ul.overlay li:last-child:hover p{
  transform:translateY(0);
  background-color: rgba(25,25,25,0.8);
  opacity: 1;
}

ul.imgPanel ul.overlay li:last-child:hover span p{
  background: none !important;
}

#instafeed{
  line-height: 0;
  background: #222;
}

#instafeed img{
  width: 100%;
}

#instafeed h2{
  position: absolute;
  color: #fff;
  top: 0;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 26px 26px 0 26px;
  letter-spacing: 0.04em;
  font-size: 1.2em;
}

.instaHold{
  position: relative;
  width: 33.333%;
  display: inline-block;
  vertical-align: top;
}

.instaCap{
  position: absolute;
  line-height: 1.2em;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(25,25,25,0.2);
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.instaCap p{
  opacity: 0;
  color: #fff;
  padding: 6em 26px 0;
}

.instaHold:hover .instaCap p{
  opacity: 1;
}

.instaHold:hover .instaCap{
  background-color: rgba(25,25,25,0.8);
}

/* Surf */

.wave-slide, .page-slide{
  margin-top: 2em;
}

.wave-text h5.bodyPara{
  margin: 0;
  line-height: 0;
  font-size: 1em;
}

#map{
  width: 100%;
  height: 100%;
  display: block !important;
  min-height: 30em;
}

ul.imgPanel li #map img:hover{
  transform: none;
}

.ts-map .leaflet-control-layers, .leaflet-bar{
  border: 2px solid #222 !important;
}

body .leaflet-control-container .leaflet-control-zoom.leaflet-bar.leaflet-control{
  border: 2px solid #222;
  border-radius: 0;
}

body .leaflet-control-container .leaflet-left{
  left: 1em;
}

body .leaflet-control-container .leaflet-top{
  top: 1em;
}

body .leaflet-control-container .leaflet-bottom{
  display: none;
  opacity: 0;
  visibility: hidden;
}

body .videoWrapper {
  position: relative;
  padding-bottom: 29.25%;
  height: 0;
}
body.Home .videoWrapper {
  padding-bottom: 49.25%; /* 16:9 */
}
body.Home .videoWrapper iframe, body .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map h4.introduction{
  margin: 0 0 48px;
}

.row.spacing{
  height: 8em;
}

/* Community & Environment */

.Community.Environment .center-content{
  margin: 4rem 0 0;
}

.Community.Environment .introduction{
  margin-top: 0;
}

.Community.Environment h4.introduction{
  text-align: center;
}

.Community.Environment #container .projectSnip a{
  color: #ffffff;
}

.Community.Environment article:first-child{
  width: 100%;
}

.Community.Environment article{
  position: relative;
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -1px;
}

.Community.Environment article > a{
  display: block;
}

body article.comm-proj{
  width: 100%;
  float: none;
  line-height: inherit;
  overflow: inherit;
}

.projectSnip{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: rgba(25,25,25,0.2);
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.projectSnip:hover, .projectSnip:hover p{
  transform: translateY(0);
  background-color: rgba(25,25,25,0.8);
  opacity: 1;
}

article .projectSnip:hover p{
  background: none;
}

.Community.Environment article:first-child h3{
  font-size: 4em;
  width: 60%;
}

.Community.Environment article:first-child p{
  font-size: 2em;
  width: 60%;
}

.projectSnip p{
  opacity: 0;
  color: #fff;
  line-height: 1.4em;
  padding: 0 26px;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.14s;
}

.projectSnip h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 26px;
  margin: 0 4em 0 0;
}

.projectSnip h3 a, .projectSnip p a{
  color: #ffffff;
}

/* News & Updates */

.News .center-content{
  margin: 0 4rem 12rem;
}

.center-content-news{
  margin: 0 4rem 12rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.News .center-content article{
  position: relative;
  margin: 2em 0 4em;
}

.center-content-news article h1{
  padding-top: 2rem;
  font-size: 2.4em;
  line-height: 1.4em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.center-content-news article p img{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.blogSnip {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 4em 3em 2em 3em;
  background-color: rgba(255, 255, 255, 0.9);
  width: 45%;
  transition: background-color 0.3s ease-in-out;
}

.blogSnip:hover{
  background-color: rgba(255,255,255,0.6);
}

.blogSnip h3{
  font-size: 2.4em;
  line-height: 1.4em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.blogSnip p{
  padding-right: 1em;
}

.prev, .next{
  font-weight: 500;
  border-top: 2px solid #444;
  margin-top: 2em;
}

.News.Updates .prev, .News.Updates .next{
  border-top: none;
  margin-top: 0;
}

.Community.Environment .prev, .Community.Environment .next{
  border-top: 0;
}

.prev{
  text-align: left;
}

.next{
  text-align: right;
}

/* Rooms & Resort */

.Rooms .center-content{
  margin: 4rem 0 0;
}

/* Pages */

.reveal{
  opacity:0;
}

.top-space{
  margin-top: 6em;
}

.bottom-space{
  margin-bottom: 4em;
}

.main-p{
  font-size: 1.3em;
}

.main-p a, .main-p a:visited{
  text-decoration: underline;
}

/* Accordion */

.accTitle{
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 4.2rem;
}

.accordion{
  cursor: pointer;
  border-bottom: 1px solid #888;
  position: relative;
}

.accordion:hover h5, .accordion.active h5{
  opacity: 1;
}

.accordion h5{
  opacity: 0.6;
  transition: opacity 0.2s linear;
  margin: 1em 0 1em 1.4em;
}

.accordion:after {
  content: '';
  background: url('/uploads/cross.svg') no-repeat;
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  left: 0;
  top: 0.7em;
  transition: 1s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.accordion.active:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.accordCopy{
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

.accordCopy.show{
  opacity: 1;
  max-height: 1000px
}

/* 404 */

.fourOhFour{
  margin: 8rem 0 14rem;
  text-align: center;
}

.fourOhFour h1{
  font-size: 16rem;
}

/* Footer */

#footer{
  background-color: #222;
  color: #ffffff;
  padding: 4em 0 8em;
}

#footer .center-content{
  font-family: 'Ubuntu', sans-serif;
}

#footer ul{
  margin: 0;
  padding: 0;
}

#footer ul li{
  list-style: none;
}

#footer ul.secNav li{
  margin: 0 0 0.5em 0;
}

#footer #mahi-mahi, #footer ul.site-branding img{
  width: 44px;
  height: 44px;
}

#footer p{
  margin: 0 0 12px;
}

#footer ul.site-branding{
  margin-bottom: 2em;
}

.row.tripAdv{
  border-top: 2px solid #222;
}

#container .cdsROW, .TA_cdsratingsonlywide{
  margin: 1rem auto;
  text-align: center;
  color: #ffffff;
}

.TA_cdsratingsonlywide ul{
  margin-bottom: 0;
}

p.small{
  font-size: 0.7em;
}

#footer ul.secNav li.partnerTitle{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.04em;
  margin-top: 1.32em;
}

/* Base Styles */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  color: #222; }


/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links */
a {
  color: #222222;
  text-decoration: none;
}
a:hover {
  color: #222222; }

#container #footer a, #container #footer a:visited, #container #footer a:hover, #container #footer a:active{
  color: #ffffff;
}

#container #header a, #container #header a:visited{
  color: #ffffff;
}

#container #header .site-branding a:hover, #container #header .site-branding a:active, #container #header a.hdLink:hover, #container #header a.hdLink:active, #container #header a#book-now:hover, #container #header a#book-now:active {
  border-bottom: 0;
}

#container #header a:hover, #container #header a:active{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.Home #container #header a.icon.hdLink:hover, .Home #container #header a.icon.hdLink:active{
  border-bottom: 3px solid #ffffff;
}

#container #header a.icon.hdLink:hover, #container #header a.icon.hdLink:active{
  border-bottom: 3px solid #222222;
}

#container #footer .ftLink a, #container #footer .ftLink a:visited{
  color: #AAAAAA;
  transition: color 0.2s ease;
}

#container #footer .ftHyper a, #container #footer .ftHyper a:visited {
  color: #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
}

#container #footer .ftLink a:hover, #container #footer .ftLink a:active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#container a, #container a:visited{
  color: #AAAAAA;
  transition: color 0.2s ease;
}

#container a:hover, #container a:active{
  color: #222222;
}

#container .overlay a, #container .overlay a:visited{
  color: #888888;
  border-bottom: 2px solid #888888;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

#container .overlay a:hover, #container .overlay a:active{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

#container .page-title a, #container .page-title a:visited, #container .blogSnip a, #container .blogSnip a:visited{
  color: #555555;
  transition: color 0.2s ease;
}

#container .page-title a:hover, #container .page-title a:active, #container article.reveal .blogSnip a:hover, #container article.reveal .blogSnip a:active{
  color: #222222;
  border-bottom: 2px solid #222222;
}

#container article.reveal a, #container article.reveal a:visited{
  transition: color 0.2s ease;
}

#container article.reveal a:hover, #container article.reveal a:active{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

a.buttonLink, a.buttonLink:visited{
  border: 3px solid #222;
  text-decoration: none;
  padding: 1em 2em;
  line-height: 3em;
  display: inline-block;
  line-height: 2em;
}

.buttonWrap{
  text-align: center;
  margin: 2em 0 4em;
}

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 3px solid;
  border-color: #222222;
  border-radius: 0;
  color: #222;
  letter-spacing: 0.04em;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  line-height: 1;
  text-transform: uppercase;
  padding: 1em 1.4em;
  text-shadow: none;
  -webkit-display: none;
  transition: background 0.2s ease;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: #ffffff;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries */

@media screen and (max-width: 740px) {
  #header ul.site-branding{
    padding: 2rem 2rem 0;
  }
  :root body.Home #container #header ul.site-branding li:last-child{
    display: block;
  }
  :root body #container #header ul.site-branding li:last-child{
    display: none;
  }
  body .reveal{
    opacity: 1;
  }
  #container #header ul.site-branding li{
    display: block;
  }
  #container #header .site-branding #mahi-mahi{
    width: 60px;
    height: 60px;
  }
  :root body #header a.icon{
    top: 2rem;
    right: 2rem;
  }
  nav.navOverlay li{
    padding: 0;
    margin-bottom: 0;
  }
  #header #book-now{
    right: 3rem;
    bottom: 2rem;
  }
  :root body.Home .royalSlider .rsBullets{
    display: none;
  }
  :root body .royalSlider .rsBullets{
    left: 1em;
    bottom: 1em;
  }
  :root body .imageSlider .rsBullets{
    left: 1em;
    bottom: 2rem;
  }
  :root body .royalSlider .rsGCaption{
    display: none;
  }
  #content .center-content{
    margin: 2rem 2rem 8rem;
  }
  .center-content .first-video{
    margin-top: 0;
  }
  :root body.Home .videoWrapper {
    padding-bottom: 75.25%;
  }
  .Home .center-content .introduction{
    font-size: 1.28em;
    margin: 2rem 0 0;
  }
  .center-content .introduction{
    font-size: 1.28em;
    margin: 0;
  }
  .center-content ul.imgPanel{
    margin: 0;
  }
  .center-content ul.imgPanel li{
    width: 100%;
  }
  .center-content ul.imgPanel.single ul.overlay li:last-child span p{
    max-width: 100%;
  }
  .center-content ul.imgPanel ul.overlay li{
    color: #444444;
  }
  .center-content ul.imgPanel h2{
    padding: 26px 0 0 0 ;
    font-size: 2.4rem;
  }
  .center-content ul.imgPanel ul.overlay li:last-child span p{
    padding: 0;
  }
  .center-content .overlay a, .center-content .overlay a:visited{
    color: #444444;
    border-bottom: 2px solid #444444;
  }
  .center-content ul.imgPanel ul.overlay li:last-child{
    position: relative;
    background: none;
  }
  .center-content ul.imgPanel ul.overlay li:last-child span p{
    opacity: 1;
  }
  .center-content ul.imgPanel ul.overlay li:last-child:hover, .center-content ul.imgPanel ul.overlay li:last-child:hover p{
    background: none;
  }
  #content .row.spacing{
    height: 0;
  }
  #content .bottom-space{
    margin-bottom: 0;
  }
  .center-content .instaHold{
    width: 100%;
  }
  .center-content .instaCap, .center-content .instaHold:hover .instaCap, .center-content .instaHold:hover{
    position: relative;
    background-color: #fff;
  }
  .center-content #instafeed .instaCap h2{
    position: relative;
    padding: 26px 0 0 0;
    font-size: 1.6rem;
    color: #444;
  }
  .center-content .instaCap p, .center-content .instaHold:hover p{
    opacity: 1;
    color: #222;
    padding: 0;
  }
  :root body .imageSlider{
    margin-bottom: 0;
  }
  h4.accTitle{
    font-size: 2.8rem;
  }
  div.accordion:after{
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    top: 0.6em;
  }
  /* Waves */
  iframe.mapbox{
    display: none;
  }
  .map h3{
    margin-top: 1em;
  }
  .row.first-video{
    margin-top: 4em;
  }
  :root body .videoWrapper{
    padding-bottom: 60%;
  }
  /* Rooms and Resorts */
  body h3.introduction.resort-intro{
    margin-top: 0;
    font-size: 1.3em;
  }
  body.Rooms .top-space{
    margin-top: 0;
  }
  /* Book */
  .Bookings .top-space{
    margin-top: 0;
  }
  /* News - Community */
  .News .blogSnip{
    position: relative;
    width: 100%;
    padding: 1em 0 0;
  }
  body.News .center-content article{
    margin: 0;
  }
  body.News #content .center-content, body .center-content-news{
    margin: 0 2rem 8rem;
  }
  body.Community.Environment article{
    width: 100%;
  }
  body.Community.Environment article:first-child h3{
    font-size: 2.4rem;
  }
  body.Community.Environment article p{
    display: none;
  }
  .center-content-news article h1, .News .blogSnip h3, .Community article .projectSnip h3{
    font-size: 2.2rem;
  }
  .Community article .projectSnip h3{
    margin: 0 2em 0 0;
  }
  body.News.Updates .prev, body.News.Updates .next, .Community .prev, .Community .next, .center-content-news .prev, .center-content-news .next{
    margin-top: 0;
    width: 50%;
  }
  .News.Updates .page-title, .center-content-news .page-title{
    font-size: 1.6em;
    margin-bottom: 1em;
  }
  .comm-proj h1{
    font-size: 3rem;
  }
  .TA_cdsratingsonlywide .cdsROW.wide .cdsROWContainer .cdsComponent.logo{
    display: none;
  }
  /* Footer */
  #container #footer{
    padding: 1em 0 2em;
  }
  #footer .center-content{
    margin: 2rem 2rem 12rem;
  }
  #footer .center-content .three.columns{
    width: 100%;
  }
}

@media screen and (min-width: 741px) and (max-width: 1020px) {
  #footer .center-content .three.columns{
    width: 100%;
  }
}

@media screen and (min-width: 741px) and (max-width: 1220px) {
  html{
    overflow-x: hidden;
  }
  body .reveal{
    opacity: 1;
  }
  .Home ul.imgPanel.reveal{
    opacity: 1;
  }
  body.Home ul.imgPanel{
    margin: 0;
    padding: 0 2em;
  }
  #content .introduction{
    font-size: 2em;
  }
  .center-content ul.imgPanel li{
    width: 100%;
  }
  .center-content ul.imgPanel.single ul.overlay li:last-child span p{
    max-width: 100%;
  }
  .center-content ul.imgPanel ul.overlay li{
    color: #444444;
  }
  .center-content ul.imgPanel h2{
    padding: 26px 0 0 0 ;
    font-size: 3rem;
  }
  .map h3{
    margin-top: 1em;
  }
  .center-content ul.imgPanel ul.overlay li:last-child span p{
    padding: 0;
    font-size: 2em;
  }
  .center-content .overlay a, .center-content .overlay a:visited{
    color: #444444;
    border-bottom: 2px solid #444444;
  }
  .center-content ul.imgPanel ul.overlay li:last-child{
    position: relative;
    background: none;
  }
  .center-content ul.imgPanel ul.overlay li:last-child span p{
    opacity: 1;
  }
  .center-content ul.imgPanel ul.overlay li:last-child:hover, .center-content ul.imgPanel ul.overlay li:last-child:hover p{
    background: none;
  }
  #instafeed{
    margin-top: 1em;
  }
  #instafeed .instaCap{
    display: none;
  }
  .Community.Environment .center-content .projectSnip:hover p{
    display: none;
  }
  body.News .center-content{
    margin: 0 0 6rem;
  }
  .News .blogSnip{
    position: relative;
    width: auto;
    padding: 3em 3em 2em 3em;
  }
}
