{% extends "_layout" %}

{% block content %}
	<div class="center-content-news">
		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns">

				<h1 class="page-title"><a href="/news-updates">News &amp; Updates</a></h1>

				<article>
					{% if entry.featuredImage | length %}
					    {% for asset in entry.featuredImage.all() %}
					        <img src="{{ asset.getUrl('slider') }}" width="100%">
					    {% endfor %}
					{% endif %}
					<h1>{{ entry.title }}</h1>
					<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
					{{ entry.mainBodyCopy|retconTransform('slider') }}
				</article>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="five columns prev"><br>
			{# Set parameters for prev/next elements list #}
			{% set params = craft.entries.section('newsUpdates').orderBy('postDate desc, id asc') %}

				{# Get the prev/next elements #}
				{% set prevEntry = entry.getPrev(params) %}
				{% set nextEntry = entry.getNext(params) %}

				{# And make sure to only output the links if the element exists #}
				{% if prevEntry %}<a href="{{ prevEntry.url }}">Previous</a>{% endif %}
			</div>
			<div class="five columns next"><br>
				{% if nextEntry %}<a href="{{ nextEntry.url }}">Next</a>{% endif %}
			</div>
			<div class="one columns">&nbsp;</div>
		</div>
	</div>
{% endblock %}
