{% extends "_layout" %}

{% block content %}
	<div class="center-content">
		<div class="row">
		<div class="one columns">&nbsp;</div>
		<div class="ten columns">
		<h1 class="page-title"><a href="/news-updates">{{ entry.title }}</a></h1>

		{% paginate craft.entries.section('newsUpdates').limit(12) as pageInfo, pageEntries %}
			{% for entry in pageEntries %}
			<article class="reveal">
				{% if entry.featuredImage | length %}
				    {% for asset in entry.featuredImage.all() %}
				        <a href="{{ entry.url }}"><img src="{{ asset.getUrl('slider') }}" width="100%"></a>
				    {% endfor %}
				{% endif %}
				<div class="blogSnip">
					<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
					<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
					{% set paragraphs = entry.mainBodyCopy|split('</p>') %}
					{% set firstParagraph = paragraphs|first ~ '</p>' %}
					{{ firstParagraph|raw }}
					<p><a href="{{ entry.url }}">Continue reading</a></p>
				</div>
			</article>
			{% endfor %}
		</div>
		<div class="one columns">&nbsp;</div>
		</div>
		<div class="row reveal">
			<div class="one columns">&nbsp;</div>
			<div class="five columns prev"><br>
				{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Previous Page</a>{% endif %}
			</div>
			<div class="five columns next"><br>
				{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Next Page</a>{% endif %}
			</div>
			<div class="one columns">&nbsp;</div>
		</div>
	</div>
{% endblock %}
