{% extends "_layout" %}

{% block content %}

	<div class="center-content">

		<div class="row">
			<div class="two columns">&nbsp;</div>
			<div class="eight columns bookings-text">
				{{ entry.mainBodyCopy }}
			</div>
			<div class="two columns">&nbsp;</div>
		</div>

	</div>
{% endblock %}
