{% extends "_layout" %}

{% block content %}

	<div class="row">
		<div class="twelve columns page-slide">
			<ul class="royalSlider rsDefault">
			{% for block in entry.imageSlider.all() %}
				{# this has two assets attached #}
				{% set images = block.slideImage %}
				{% if images and images|length %}
					<li>
					{# Loop through the images #}
					{% for image in images.all() %}
						<img src="{{ image.getUrl('heroSlider') }}" width="100%" alt="{{ image.title }}">
						<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
					{% endfor %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="center-content">

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<h3 class="introduction resort-intro">{{ entry.introduction }}</h3>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<ul class="row imgPanel reveal">
			{% for block in entry.quadPanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('tiles') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p reveal">
				<p>{{ entry.mainBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<div class="row top-space">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<ul class="imageSlider rsDefault">
				{% for block in entry.singleSlider.all() %}
					{# this has two assets attached #}
					{% set images = block.slideImage %}
					{% if images and images|length %}
						<li>
						{# Loop through the images #}
						{% for image in images.all() %}
							<img src="{{ image.getUrl('slider') }}" width="100%" alt="{{ image.title }}">
							<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
						{% endfor %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p reveal">
				<p>{{ entry.secondaryBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<div class="row top-space">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<ul class="imageSlider rsDefault">
				{% for block in entry.doubleSlider.all() %}
					{# this has two assets attached #}
					{% set images = block.slideImage %}
					{% if images and images|length %}
						<li>
						{# Loop through the images #}
						{% for image in images.all() %}
							<img src="{{ image.getUrl('slider') }}" width="100%" alt="{{ image.title }}">
							<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
						{% endfor %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p reveal">
				<p>{{ entry.thirdBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<div class="row top-space">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<ul class="imageSlider rsDefault">
				{% for block in entry.villaSlider.all() %}
					{# this has two assets attached #}
					{% set images = block.slideImage %}
					{% if images and images|length %}
						<li>
						{# Loop through the images #}
						{% for image in images.all() %}
							<img src="{{ image.getUrl('slider') }}" width="100%" alt="{{ image.title }}">
							<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
						{% endfor %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p reveal">
				<p>{{ entry.fourthBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<div class="row top-space">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<ul class="imageSlider rsDefault">
				{% for block in entry.communalSlider.all() %}
					{# this has two assets attached #}
					{% set images = block.slideImage %}
					{% if images and images|length %}
						<li>
						{# Loop through the images #}
						{% for image in images.all() %}
							<img src="{{ image.getUrl('slider') }}" width="100%" alt="{{ image.title }}">
							<figure class="rsCaption rsABlock">{{ block.slideCaption }}</figure>
						{% endfor %}
						</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			<div class="one columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="eight columns main-p reveal">
				<p>{{ entry.fifthBodyCopy }}</p>
			</div>
			<div class="three columns">&nbsp;</div>
		</div>

		<ul class="row imgPanel dine reveal">
			{% for block in entry.foodPanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('tiles') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>

	</div>
{% endblock %}
