{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
	<div class="fourOhFour">
		<h1>404</h1>

		<p>Page not found, head back to the <a href="/">Island</a>.</p>
	</div>
{% endblock %}
