<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="{{ seo.seoDescription }}"/>
    <meta name="keywords" content="{{ seo.seoKeywords }}"/>

	<link rel="home" href="{{ siteUrl }}" />

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://mahimahisurfresort.com/"/>
	<meta property="og:title" content="{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}"/>
    <meta property="og:description" content="{{ seo.seoDescription }}"/>
    {% for asset in seo.seoImage.all() %}
    <meta property="og:image" content="{{ asset.url }}"/>
    {% endfor %}
	<meta property="og:site_name" content="Mahi-Mahi"/>

	{% do view.registerCssFile("/css/normalize.css") %}
	{% do view.registerCssFile("/css/layout.css") %}
	{% do view.registerCssFile("/royalslider/royalslider.css") %}
	{% do view.registerCssFile("/royalslider/skins/default/rs-default.css") %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/royalslider/jquery.royalslider.min.js"></script>
	<script src="/js/scripts.js"></script>
	{#<script src="/js/instafeed.js"></script>#}

	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

</head>

<body class="{{ entry.title }}">
	<div id="container">
		<header id="header">
			<ul class="site-branding">
				<li>
					<a href="/">
						<svg version="1.1" id="mahi-mahi" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
							<g>
								<path class="m-m" d="M32,0.2C14.4,0.2,0.2,14.4,0.2,32c0,17.5,14.2,31.8,31.8,31.8c17.5,0,31.8-14.3,31.8-31.8
									C63.8,14.4,49.5,0.2,32,0.2z M32,3.4c14.3,0,26.2,10.5,28.3,24.3c-6.6-2.5-10.3-7-12.1-9.3c-0.5-0.6-0.9-1.1-1.2-1.4
									c-2.4-1.8-4.6-0.6-6.2,0.3c-1,0.6-2,1.1-3.1,1c-1-0.1-2.6-1.8-4.1-3.3c-2.4-2.4-5.2-5.2-8.5-5.2c-3.5,0-6.8,3.8-10.7,8.2
									c-3.3,3.8-7.1,8-10.7,9.3C6.1,13.7,17.8,3.4,32,3.4z M32,60.6c-6.6,0-12.7-2.3-17.6-6.1c4-0.3,10.7-0.6,17.6-1.1
									c7.2-0.4,14.1,0.3,17.8,0.8C45,58.2,38.8,60.6,32,60.6z M52.9,51.5c-2.3-0.4-11.3-1.8-21-1.2c-9.3,0.6-18.3,1.1-20.8,1.2
									c-0.7-0.7-1.3-1.5-1.9-2.3c3.9-1.7,13.3-5.4,21.7-4.6c6.7,0.6,10.1,1.4,14.4,2.4c2.6,0.6,5.6,1.2,9.7,2
									C54.4,49.9,53.7,50.7,52.9,51.5z M56.9,46.1c-4.8-0.8-8-1.5-10.9-2.2c-4.4-1-7.9-1.7-14.8-2.4c-9.6-0.9-19.9,3.3-23.8,5.1
									c-0.6-1-1.1-2-1.6-3.1c3.4-0.7,6.5-2.3,9.4-3.8c6.5-3.2,13.1-6.5,23.8-2.8c10.4,4.1,11.8,4.4,16.9,5.6c0.7,0.2,1.5,0.3,2.4,0.6
									C57.9,44.2,57.4,45.1,56.9,46.1z M59.4,40.1c-1-0.3-1.9-0.5-2.7-0.6c-4.9-1.1-6.2-1.4-16.5-5.5c-12-4.2-19.6-0.4-26.4,2.9
									c-3.1,1.5-6,3-9.2,3.6c-0.3-1-0.6-2.1-0.8-3.2c4.7-0.7,9.8-4.2,14.3-7.5c0.9-0.8,1.3-0.6,2.7,0c1.2,0.6,2.9,1.4,5,0.4
									c1.8-0.9,3.3-1.8,4.6-2.6c1.3-0.8,2.7-1.6,3.2-1.6c0.8,0.1,3,1.4,4.6,2.3c1,0.6,2,1.2,2.9,1.7c8.5,5.3,14.1,6.5,19.1,6.9
									C60,38,59.8,39.1,59.4,40.1z M42.7,27.3c-0.9-0.5-1.9-1-2.9-1.6c-2.3-1.4-4.4-2.6-5.9-2.8c-1.5-0.1-3.1,0.8-5.1,2
									c-1.2,0.7-2.6,1.6-4.3,2.4c-0.6,0.3-1.1,0.1-2.3-0.4c-1.4-0.7-3.6-1.7-6,0.4c-3,2.2-8.3,6.2-12.7,6.9c-0.1-0.7-0.1-1.4-0.1-2.2
									c0-0.5,0-1,0-1.4c5-0.9,9.4-6,13.4-10.6c2.9-3.3,6.2-7.1,8.3-7.1c1.9,0,4.2,2.3,6.2,4.3c2,2.1,4,4,6.1,4.2c2,0.2,3.6-0.7,4.9-1.4
									c1.7-0.9,2.1-1,2.6-0.6c0.2,0.2,0.5,0.5,0.9,1c2,2.4,6.6,8,14.9,10.7c0,0.3,0,0.6,0,0.9c0,0.6,0,1.2-0.1,1.8
									C55.7,33.4,50.7,32.3,42.7,27.3z"/>
							</g>
						</svg>
					</a>
				</li>
				<li>
					<h1 class="site-title"><a href="/">Mahi-Mahi</a></h1>
					<h2 class="site-description"><a href="/">Surf Resort</a></h2>
				</li>
			</ul>

			<nav id="site-navigation" class="navOverlay">
			<a href="/" class="hdLink">
				<svg version="1.1" id="mahi-mahi" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
				<g>
					<path class="m-m" d="M32,0.2C14.4,0.2,0.2,14.4,0.2,32c0,17.5,14.2,31.8,31.8,31.8c17.5,0,31.8-14.3,31.8-31.8
						C63.8,14.4,49.5,0.2,32,0.2z M32,3.4c14.3,0,26.2,10.5,28.3,24.3c-6.6-2.5-10.3-7-12.1-9.3c-0.5-0.6-0.9-1.1-1.2-1.4
						c-2.4-1.8-4.6-0.6-6.2,0.3c-1,0.6-2,1.1-3.1,1c-1-0.1-2.6-1.8-4.1-3.3c-2.4-2.4-5.2-5.2-8.5-5.2c-3.5,0-6.8,3.8-10.7,8.2
						c-3.3,3.8-7.1,8-10.7,9.3C6.1,13.7,17.8,3.4,32,3.4z M32,60.6c-6.6,0-12.7-2.3-17.6-6.1c4-0.3,10.7-0.6,17.6-1.1
						c7.2-0.4,14.1,0.3,17.8,0.8C45,58.2,38.8,60.6,32,60.6z M52.9,51.5c-2.3-0.4-11.3-1.8-21-1.2c-9.3,0.6-18.3,1.1-20.8,1.2
						c-0.7-0.7-1.3-1.5-1.9-2.3c3.9-1.7,13.3-5.4,21.7-4.6c6.7,0.6,10.1,1.4,14.4,2.4c2.6,0.6,5.6,1.2,9.7,2
						C54.4,49.9,53.7,50.7,52.9,51.5z M56.9,46.1c-4.8-0.8-8-1.5-10.9-2.2c-4.4-1-7.9-1.7-14.8-2.4c-9.6-0.9-19.9,3.3-23.8,5.1
						c-0.6-1-1.1-2-1.6-3.1c3.4-0.7,6.5-2.3,9.4-3.8c6.5-3.2,13.1-6.5,23.8-2.8c10.4,4.1,11.8,4.4,16.9,5.6c0.7,0.2,1.5,0.3,2.4,0.6
						C57.9,44.2,57.4,45.1,56.9,46.1z M59.4,40.1c-1-0.3-1.9-0.5-2.7-0.6c-4.9-1.1-6.2-1.4-16.5-5.5c-12-4.2-19.6-0.4-26.4,2.9
						c-3.1,1.5-6,3-9.2,3.6c-0.3-1-0.6-2.1-0.8-3.2c4.7-0.7,9.8-4.2,14.3-7.5c0.9-0.8,1.3-0.6,2.7,0c1.2,0.6,2.9,1.4,5,0.4
						c1.8-0.9,3.3-1.8,4.6-2.6c1.3-0.8,2.7-1.6,3.2-1.6c0.8,0.1,3,1.4,4.6,2.3c1,0.6,2,1.2,2.9,1.7c8.5,5.3,14.1,6.5,19.1,6.9
						C60,38,59.8,39.1,59.4,40.1z M42.7,27.3c-0.9-0.5-1.9-1-2.9-1.6c-2.3-1.4-4.4-2.6-5.9-2.8c-1.5-0.1-3.1,0.8-5.1,2
						c-1.2,0.7-2.6,1.6-4.3,2.4c-0.6,0.3-1.1,0.1-2.3-0.4c-1.4-0.7-3.6-1.7-6,0.4c-3,2.2-8.3,6.2-12.7,6.9c-0.1-0.7-0.1-1.4-0.1-2.2
						c0-0.5,0-1,0-1.4c5-0.9,9.4-6,13.4-10.6c2.9-3.3,6.2-7.1,8.3-7.1c1.9,0,4.2,2.3,6.2,4.3c2,2.1,4,4,6.1,4.2c2,0.2,3.6-0.7,4.9-1.4
						c1.7-0.9,2.1-1,2.6-0.6c0.2,0.2,0.5,0.5,0.9,1c2,2.4,6.6,8,14.9,10.7c0,0.3,0,0.6,0,0.9c0,0.6,0,1.2-0.1,1.8
						C55.7,33.4,50.7,32.3,42.7,27.3z"/>
				</g>
				</svg>
			</a>
			<ul id="primary-menu" class="menu">
				<li class="menu-item"><a href="/">Home</a></li>
				<li class="menu-item"><a href="/simeulue-waves">Simeulue &amp; Waves</a></li>
				<li class="menu-item"><a href="/boat-charters">Boat Charters</a></li>
				<li class="menu-item"><a href="/rooms-resort">Rooms &amp; Resort</a></li>
				<li class="menu-item"><a href="/community-environment">Community &amp; Environment</a></li>
				<li class="menu-item"><a href="/contact-bookings">Contact &amp; Bookings</a></li>
				<li class="menu-item"><a href="/news-updates">News &amp; Updates</a></li>
				<li class="menu-item"><a href="/additional-information">Additional Information</a></li>
			</ul>
		</nav>

		<a href="javascript:void(0)" class="icon hdLink">
			<div class="hamburger">
				<div class="menui top-menu"></div>
				<div class="menui mid-menu"></div>
				<div class="menui bottom-menu"></div>
			</div>
		</a>

		<a href="/contact-bookings" id="book-now" class="hide">
			<button>Book Now</button>
		</a>

		<script>
			$(document).ready(function () {
			  	$(".icon").click(function () {
				    $(".navOverlay").fadeToggle(400);
				    $(".top-menu").toggleClass("top-animate");
				    $(".mid-menu").toggleClass("mid-animate");
				    $(".bottom-menu").toggleClass("bottom-animate");
			  	});
			});
		</script>
		</header>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		{#<div class="row tripAdv">
			<div class="twelve columns">
				<div id="TA_cdsratingsonlywide700" class="TA_cdsratingsonlywide">
					<ul id="y5ZBYy" class="TA_links T1SvAd">
						<li id="P5vv3Wsa0x" class="psqf2ea4t">
							<a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
						</li>
					</ul>
				</div>
				<script src="https://www.jscache.com/wejs?wtype=cdsratingsonlywide&amp;uniq=700&amp;locationId=8028406&amp;lang=en_US&amp;border=false&amp;display_version=2"></script>
			</div>
		</div>#}

		<footer id="footer">
			<div class="center-content">
			<div class="row">
				<div class="one columns">&nbsp;</div>
				<div class="three columns">
					<ul class="site-branding">
						<li>
							<a href="/">
								<svg version="1.1" id="mahi-mahi" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" xml:space="preserve">
									<g>
										<path class="m-m" d="M32,0.2C14.4,0.2,0.2,14.4,0.2,32c0,17.5,14.2,31.8,31.8,31.8c17.5,0,31.8-14.3,31.8-31.8
											C63.8,14.4,49.5,0.2,32,0.2z M32,3.4c14.3,0,26.2,10.5,28.3,24.3c-6.6-2.5-10.3-7-12.1-9.3c-0.5-0.6-0.9-1.1-1.2-1.4
											c-2.4-1.8-4.6-0.6-6.2,0.3c-1,0.6-2,1.1-3.1,1c-1-0.1-2.6-1.8-4.1-3.3c-2.4-2.4-5.2-5.2-8.5-5.2c-3.5,0-6.8,3.8-10.7,8.2
											c-3.3,3.8-7.1,8-10.7,9.3C6.1,13.7,17.8,3.4,32,3.4z M32,60.6c-6.6,0-12.7-2.3-17.6-6.1c4-0.3,10.7-0.6,17.6-1.1
											c7.2-0.4,14.1,0.3,17.8,0.8C45,58.2,38.8,60.6,32,60.6z M52.9,51.5c-2.3-0.4-11.3-1.8-21-1.2c-9.3,0.6-18.3,1.1-20.8,1.2
											c-0.7-0.7-1.3-1.5-1.9-2.3c3.9-1.7,13.3-5.4,21.7-4.6c6.7,0.6,10.1,1.4,14.4,2.4c2.6,0.6,5.6,1.2,9.7,2
											C54.4,49.9,53.7,50.7,52.9,51.5z M56.9,46.1c-4.8-0.8-8-1.5-10.9-2.2c-4.4-1-7.9-1.7-14.8-2.4c-9.6-0.9-19.9,3.3-23.8,5.1
											c-0.6-1-1.1-2-1.6-3.1c3.4-0.7,6.5-2.3,9.4-3.8c6.5-3.2,13.1-6.5,23.8-2.8c10.4,4.1,11.8,4.4,16.9,5.6c0.7,0.2,1.5,0.3,2.4,0.6
											C57.9,44.2,57.4,45.1,56.9,46.1z M59.4,40.1c-1-0.3-1.9-0.5-2.7-0.6c-4.9-1.1-6.2-1.4-16.5-5.5c-12-4.2-19.6-0.4-26.4,2.9
											c-3.1,1.5-6,3-9.2,3.6c-0.3-1-0.6-2.1-0.8-3.2c4.7-0.7,9.8-4.2,14.3-7.5c0.9-0.8,1.3-0.6,2.7,0c1.2,0.6,2.9,1.4,5,0.4
											c1.8-0.9,3.3-1.8,4.6-2.6c1.3-0.8,2.7-1.6,3.2-1.6c0.8,0.1,3,1.4,4.6,2.3c1,0.6,2,1.2,2.9,1.7c8.5,5.3,14.1,6.5,19.1,6.9
											C60,38,59.8,39.1,59.4,40.1z M42.7,27.3c-0.9-0.5-1.9-1-2.9-1.6c-2.3-1.4-4.4-2.6-5.9-2.8c-1.5-0.1-3.1,0.8-5.1,2
											c-1.2,0.7-2.6,1.6-4.3,2.4c-0.6,0.3-1.1,0.1-2.3-0.4c-1.4-0.7-3.6-1.7-6,0.4c-3,2.2-8.3,6.2-12.7,6.9c-0.1-0.7-0.1-1.4-0.1-2.2
											c0-0.5,0-1,0-1.4c5-0.9,9.4-6,13.4-10.6c2.9-3.3,6.2-7.1,8.3-7.1c1.9,0,4.2,2.3,6.2,4.3c2,2.1,4,4,6.1,4.2c2,0.2,3.6-0.7,4.9-1.4
											c1.7-0.9,2.1-1,2.6-0.6c0.2,0.2,0.5,0.5,0.9,1c2,2.4,6.6,8,14.9,10.7c0,0.3,0,0.6,0,0.9c0,0.6,0,1.2-0.1,1.8
											C55.7,33.4,50.7,32.3,42.7,27.3z"/>
									</g>
								</svg>
							</a>
						</li>
						<li>
							<h1 class="site-title"><a href="/">Mahi-Mahi</a></h1>
							<h2 class="site-description"><a href="/">Surf Resort</a></h2>
						</li>
					</ul>
					<a href="{{ footer.facebookLink }}" target="_blank"><img src="/uploads/facebook.svg" width="35" height="35" alt="Facebook" title="Facebook"></a>&nbsp;
					<a href="{{ footer.instagramLink }}" target="_blank"><img src="/uploads/instagram.svg" width="35" height="35" alt="Instagram" title="Instagram"></a>&nbsp;
					<a href="{{ footer.twitterLink }}" target="_blank"><img src="/uploads/twitter.svg" width="35" height="35" alt="Twitter" title="Twitter"></a>&nbsp;
					<a href="{{ footer.advisorLink }}" target="_blank"><img src="/uploads/trip-advisor.png" width="35" height="35" alt="Trip Advisor" title="Trip Advisor"></a>&nbsp;<br><br>

					<p><span class="ftLink"><a href="mailto:{{ footer.email }}">{{ footer.email }}</a></span></p>

					<p class="small">&copy; {{ now|date('Y') }} {{ siteName }} Surf Resort.</p>
				</div>
				<div class="one columns">&nbsp;</div>
				<div class="three columns ftLink">
					<ul class="secNav">
						<li><a href="/">Home</a></li>
						<li><a href="/simeulue-waves">Simeulue &amp; Waves</a></li>
						<li><a href="/boat-charters">Boat Charters</a></li>
						<li><a href="/rooms-resort">Rooms &amp; Resort</a></li>
						<li><a href="/community-environment">Community &amp; Environment</a></li>
						<li><a href="/contact-bookings">Contact &amp; Bookings</a></li>
						<li><a href="/news-updates">News &amp; Updates</a></li>
						<li><a href="/additional-information">Additional Information</a></li>
					</ul>
				</div>
				<div class="three columns ftLink">
					<ul class="secNav">
						<li><a href="/yoga-health-retreats">Yoga &amp; Health Retreats</a></li>
						<li><a href="/scuba">Scuba</a></li>
						<li><a href="/experiences">Experiences</a></li>
						<li class="partnerTitle">{{ partners.partnerTitle }}</li>
						{% for block in partners.partners.all() %}
							<li class="ftHyper"><a href="{{ block.partnerLink }}" target="_blank" rel="noopener noreferrer">{{ block.partnerName }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="one columns">&nbsp;</div>
			</div>
			</div>
		</footer>
	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55803335-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
