{% extends "_layout" %}

{% block content %}
	<ul class="royalSlider rsDefault">
	{% for block in entry.heroImages.all() %}
		{# this has two assets attached #}
		{% set images = block.heroImage %}
		{% if images and images|length %}
			<li>
			{# Loop through the images #}
			{% for image in images.all() %}
				<img src="{{ image.getUrl('heroSlider') }}" width="100%" alt="{{ image.title }}">
				<figure class="rsCaption rsABlock">{{ block.caption }}</figure>
			{% endfor %}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
	<div class="center-content">
		<div class="row first-video">
			<div class="two columns">&nbsp;</div>
			<div class="eight columns video videoWrapper reveal">
				{% set asset = entry.videoEmbed.one() %}
				{% set embeddedAsset = craft.embeddedAssets.get(asset) %}
				{{ embeddedAsset ? embeddedAsset.html }}
				{#{{ craft.embedder.embed (entry.video, {max_width:640, max_height:800}) }}#}
			</div>
			<div class="two columns">&nbsp;</div>
		</div>

		<div class="row">
			<div class="one columns">&nbsp;</div>
			<div class="ten columns reveal">
				<h3 class="introduction">{{ entry.introduction }}</h3>
			</div>

			<div class="one columns">&nbsp;</div>
		</div>

		<ul class="row imgPanel reveal">
			{% for block in entry.imagePanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				<ul class="overlay">
				<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('tiles') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
				</li>
				<li>
					<h2>{{ block.panelTitle }}</h2>
					<span>{{ block.panelDescription }}</span>
				</li>
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>

		<ul class="row imgPanel single reveal">
			{% for block in entry.singleImagePanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				<ul class="overlay">
				<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('heroSlider') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
				</li>
				<li>
					<h2>{{ block.panelTitle }}</h2>
					<span>{{ block.panelDescription }}</span>
				</li>
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>

		<ul class="row imgPanel reveal">
			{% for block in entry.doubleImagePanel.all() %}
			{% set images = block.panelImage %}
			{% if images and images|length %}
			<li>
				<ul class="overlay">
				<li>
				{% for image in images.all() %}
					<img src="{{ image.getUrl('tiles') }}" width="100%" alt="{{ image.title }}">
				{% endfor %}
				</li>
				<li>
					<h2>{{ block.panelTitle }}</h2>
					<span>{{ block.panelDescription }}</span>
				</li>
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>

		{#<div class="row">
			<div class="twelve columns reveal">
				<div id="instafeed">
				</div>
				{% set instafeed_template = '<div class="instaHold"><a href="{{link}}" target="_blank" rel="noopener noreferrer"><img src="{{image}}" /><div class="instaCap"><h2>Instagram</h2><p>{{caption}}</p></div></a></div>' %}
				{% autoescape 'js' %}
				<script>
				    var feed = new Instafeed({
				      get: 'user',
				      userId: 1998758027,
				      accessToken: '1998758027.678688e.bea3ec9815b049da871db0a7ef6ff6d5',
				      template: "{{instafeed_template}}",
				      resolution: 'standard_resolution',
				      limit: '3'
				    });
				    feed.run();
			  	</script>
			  	{% endautoescape %}
			</div>
		</div>#}
	</div>
{% endblock %}
